extends layout

block content
	#fb-root
	script.
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1&appId=516873428402136";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	#top.header
		#intro.intro
			.container
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h3 Hola #{user.email}
							a(href="#") 
								button.btn.btn-alert Pre Venta Activa!!!
						
						
						hr
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h4 Hasta este momento tienes #{user.invites.length} invitaciones exitosas
						br
						p Con ello has obtenido 
						h3 10% de descuento 
						br
						p en el precio de venta del producto que escojas

				.row
					.col-md-8.col-md-offset-2.text-center.test
						h4 Puedes obtener
						br
						table.table.table-bordered
							thead
								tr
									th.text-center Sin invitaciones
									th.text-center Menos de tres
									th.text-center Mas de tres
							tbody
								tr
									td 10% descuento
									td 20% descuento
									td 30% descuento
				.row
					.col-md-8.col-md-offset-2.text-center.test
						h4 
							em No te quedes
						p Invita a tus amigos y disfruta de nuestra comunidad
						.share-block
						a#share_button.share 
							button.btn.btn-facebook 
								i.icon-facebook
								|  |   Compartelo en   Facebook


						a(href="https://twitter.com/intent/tweet?hashtags=travolta&original_referer=http%3A%2F%2Faccesototal.zefira.pe%2Finvite%2F#{user._id}&text=Free%20invite%20to%20crowd-funded%20travels!%20Get%20yourself%20a%20trip%20funded%20by%20the%20crowd%2C%20friends%20or%20sponsors.&tw_p=tweetbutton&url=http%3A%2F%2Faccesototal.zefira.pe%2Finvite%2F#{user._id}")
							button.btn.btn-twitter
								i.icon-twitter
								|   | Twittealo

						hr
						
						p.text-center Todos los derechos Reservados &copy; Zefira Acceso Total 2013						

							
	script.		
		
		$(document).ready(function(){
			$('#share_button').click(function(e){
				user = !{JSON.stringify(user)};
				
				e.preventDefault();
				FB.ui(
				{
				method: 'feed',
				name: 'Zefira Acceso Total',
				link: ' http://accesototal.zefira.pe/invite/'+ user._id  ,
				picture: 'http://accesototal.zefira.pe/images/main.png',
				caption: 'Ingreso libre, sin colas, ni entradas ',
				description: 'Entra a la lista de espera y recibe descuentos en la preventa  ',
				message: ''
				});
				});
		});					
								